// colors
$primary: #FCD222;
$white: #FFFFFF;
$text-muted: #BCBCBC;
$body-bg: #EBEBEB;
$body-text: #707070;

// dark colors
$body-bg-dark: #313b63;
$body-text-dark: $white;
$notes-bg-dark: #475179;

// fonts
$body-font-family: 'SansSerif', sans-serif;
