.wrapper {
  position: relative;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 120px;
}

.add-button {
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 300;

  @media (max-width: 767px) {
    right: 20px;
    bottom: 20px;
  }
}

.note-loading-anim-enter {
  opacity: 0;
}

.note-loading-anim-enter.note-loading-anim-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.note-loading-anim-leave {
  opacity: 1;
}

.note-loading-anim-leave.note-loading-anim-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
